<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <style>
    .container {
        margin-top: 2%
    }
    </style>
</head>
<body>
    <div class="container">
        <h1>User {{user_to_be_shown.id}}</h1>
        <p>Full Name: {{user_to_be_shown.first_name}} {{user_to_be_shown.last_name}}</p>
        <p>Email: {{user_to_be_shown.email}}</p>
        <p>Created at: {{user_to_be_shown.created_at}}</p>
        <a href="/users/{{user_to_be_shown.id}}/edit" type="button" class="btn btn-primary">Edit</a>
        <a href="/users/{{user_to_be_shown.id}}/destroy" type="button" class="btn btn-danger">Delete</a>
        <a href="/users" type="button" class="btn btn-light">Back to Home</a>
    </div>
</body>
</html>